<div class="vertical-sidebar">
    <div class="vertical-sidebar-app-name">CRAZE</div>
    <div class="vertical-sidebar-block" *ngFor="let block of sidebarContents">
        <div class="vertical-sidebar-block-title">{{block.title}}</div>
        <div class="vertical-sidebar-block-content" *ngFor="let tabContent of block.content">
            <div class="vertical-sidebar-tab-block" *ngIf="!tabContent.isDropdown">
                <img [src]="tabContent.imageUrl"/> &nbsp; &nbsp; &nbsp;
                <span class="vertical-sidebar-tab-name">{{tabContent.title}}</span>
            </div>
            <div class="vertical-sidebar-dropdown" *ngIf="tabContent.isDropdown">
                <span>
                    <img [src]="tabContent.imageUrl"/> &nbsp; &nbsp; &nbsp;
                    <span class="vertical-sidebar-tab-name">{{tabContent.title}}</span>
                </span>
                <img src="../../../../assets/images/vertical-sidebar-images/down-arrow.svg"/>
            </div>
        </div>
    </div>
    <div class="vertical-sidebar-seller-profile-card">
        <div></div>
        Prathamesh Vibhute
    </div>
</div>