@import '../../../../../assets/scss/mixins';

.sign-in {

    width: 100%;
    height: 100%;

    &-form-container {

        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;

        padding-left: 8%;
        box-sizing: border-box;
    }

    &-title {

        @include text-font(20px,900,normal,#000);
    }

    &-form-title {

        @include text-font(35px,900,normal,#000);

        margin-top: 40px;
        box-sizing: border-box;
    }

    &-form-sub-title {

        @include text-font(14px,500,normal,#7C7C7C);

        margin-top: 10px;
        box-sizing: border-box;
    }

    &-form {

        width: 80%;

        &-email, &-password {

            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                font-weight: bold;
            }

            input {
                height: 50px;
                outline: none;
                border: 1px solid black;
            }

            box-sizing: border-box;
            margin-bottom: 4%;
        }

        // button
        &-button {
    
            width: 100%;
            button {
                width: 100%;
                height: 50px;
                font-weight: bold;
                @include text-font(16px,bold,normal,black);
                cursor: pointer;
                border: 1px solid #000;
                background: #A272EB;
                box-shadow: 2px 2px 0px 0px #000;
            }
        }
    }


    &-form-divider {

        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: 400;
    }

    &-left-line, &-right-line {

        width: 40%;
        height: 1px;

        background-color: #7C7C7C;
    }

    &-go-to-login {

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        color: #7C7C7C;

        span {
            color: black;
            cursor: pointer;
        }
    }

}