<div class="sign-in">
    <div class="sign-in-form-container">

        <!-- Title -->
        <div class="sign-in-title">{{'Craze' | uppercase}}</div>
        <p class="sign-in-form-title">
            Sign in
        </p>
        <p class="sign-in-form-sub-title" style="font: inherit;font-size: 14px; font-family: Whyte;z-index:auto;line-height: 1.2;">
            Enter your account details to sign-in
        </p>

        <!-- Sign in form -->
        <div class="sign-in-form">
            <form [formGroup]="signInForm">

                <!-- Email -->
                <div class="sign-in-form-email">
                    <label>Email
                        <span *ngIf="this.showValidationMessage">
                            <span *ngIf="email.hasError('required')">Email is required</span>
                            <span *ngIf="email.hasError('email') && email.touched">Please enter valid email</span>
                        </span>
                    </label>
                    <input type="email" formControlName="email" placeholder="Enter email" maxlength="35" />
                </div>

                <!-- Password -->
                <div class="sign-in-form-password">
                    <label>Password
                        <span *ngIf="this.showValidationMessage">
                            <span *ngIf="password.hasError('required'); else passwordValidation">Password is
                                required</span>
                            <ng-template #passwordValidation>
                                <span *ngIf="password.errors?.['isPasswordInvalid'] && password.touched">Please enter
                                    valid password</span>
                            </ng-template>
                        </span>
                    </label>
                    <input [type]="passwordVisibility ? 'text' : 'password'" placeholder="Enter password"
                        formControlName="password" maxlength="35" />

                    <!-- Password required message -->
                    <p>Password must at least have 8 letter, with at least a symbol, upper and lower case letters and a
                        number.</p>

                </div>
                <div class="sign-in-form-password-functions">
                    <span class="forget-password" [routerLink]="'auth/forget-password'">
                        Forget password ?
                    </span>
                </div>

                <!-- Recaptcha -->
                <div class="sign-in-form-captcha">
                    <re-captcha #captchaEle (resolved)="$event && getReCaptchaToken($event)" [siteKey]="reCaptchaSiteKey"
                    errorMode="handled" ></re-captcha>
                    <span *ngIf="this.showValidationMessage">
                        <span *ngIf="reCaptcha.hasError('required')">Captcha is required</span>
                    </span>
                </div>

                <!-- Sign in button -->
                <div class="sign-in-form-button" (click)="submitLoginForm()">
                    <button type="button">Sign in</button>
                </div>
            </form>
        </div>



        <!-- Create account -->
        <p class="sign-in-go-to-sign-up">
            Want to create a new Organization ?<span routerLink="/seller/auth/registration-plans"> Check our plans</span>
        </p>
    </div>
</div>