@import '../../../../../assets/scss/mixins';

.sign-in {

    width: 100%;
    height: 100%;
    line-height: 1;

    &-form-container {

        width: 50%;
        height: 100%;

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include padding(3.5%, 0%, 3.5%, 8%)
    }

    &-title {

        top: 0px;
        @include text-styling('Whyte', 20px, 900, normal, $black);
    }

    &-form-title {

        @include margin(5%, 0px, 0px, 0px);
        @include text-styling('Whyte', 40px, 800, normal, $black);
        z-index: auto;
    }

    &-form-sub-title {

        @include text-styling('Whyte', 14px, normal, normal, #7C7C7C);
        padding-top: 8px;
        box-sizing: border-box;
        float: none;
        line-height: 12px;
        position: static
    }

    &-form {

        width: 80%;
        margin: 20px 0px 0px 0px;
        box-sizing: border-box;

        &-email,
        &-password {

            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                width: 100%;
                @include text-styling('Whyte', 16px, 800, normal, $black);
                display: flex;
                justify-content: space-between;
                font-weight: bold;
            }

            input {

                @include text-styling('Whyte', 14px, 700, normal, $black);
                @include input-text-field(100%, 60px, $black);
                vertical-align: middle;
            }

            ::placeholder {
                @include text-styling('Whyte', 14px, 500, normal, $black);
            }

            span {
                @include form-validation-message;
            }

            p {

                box-sizing: border-box;
                margin-top: 2px;
                @include margin(20px, 0%, 0%, 0%);
                @include text-styling('Whyte Book', 14px, 500, normal, #7C7C7C);
            }

            box-sizing: border-box;
            @include margin(3.5%, 0%, 0%, 0%);
        }

        &-captcha {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                @include form-validation-message;
                @include margin(1%, 0%, 0%, 0%)
            }

            @include margin(2%, 0%, 5%, 0%)
        }

        &-password-functions {

            display: flex;
            justify-content: flex-end;
            align-items: center;

            .forget-password {
                cursor: $hand-cursor;
                @include text-styling('Whyte', 14px, 800, normal, $black);
            }

            box-sizing: border-box;
            margin: 2% 0% 3.5% 0%;
        }

        // button
        &-button {

            width: 100%;

            button {
                @include brutalism-button(100%, 60px, $purple);
                @include text-styling('Whyte',16px, 800, normal, $black);
                box-shadow: 2px 2px 0px 0px $black;
                cursor: $hand-cursor;
            }
        }
    }

    &-go-to-sign-up {


        @include margin(5%, 0%, 0%, 0%);
        @include text-styling('Whyte', 14px, 800, normal, #7C7C7C);

        span {
            color: $black;
            cursor: pointer;
        }
    }

}