<div class="sign-in">
    <div class="sign-in-form-container">
        <div class="sign-in-title">CRAZE</div>
        <div class="sign-in-form-title">
            Sign in
        </div>
        <div class="sign-in-form-sub-title">
            Enter your account details to sign-in 
        </div>
        <div class="sign-in-form">
            <form>
                <div class="sign-in-form-email">
                    <label>Email</label>
                    <input type="email"/>
                    <!-- <div> validation </div> -->
                </div>
                <div class="sign-in-form-email">
                    <label>Password</label>
                    <input />
                    <!-- <div> validation </div> -->
                </div>
                <div class="sign-in-form-button">
                    <button type="button">Sign in</button>
                </div>
            </form>
        </div>

        <div class="sign-in-form-divider">
            <div class="sign-in-left-line"></div>
            or
            <div class="sign-in-left-line"></div>
        </div>
        
        <p class="sign-in-go-to-login">
            You don’t have an account ? <span [routerLink]="'/seller/auth/sign-up'">Create an account</span> 
        </p>
    </div>
</div>