/* You can add global styles to this file, and also import other style files */
@import './assets/scss/app.scss';

* {
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: url('./assets/images/normal-cursor.png'),auto;
    font-family: 'Roboto', sans-serif;
}

input {
    cursor: url('./assets/images/text-cursor.png'),auto;
}

button, a {
    text-decoration: none;
    cursor: url('./assets/images/hand-cursor.png'),auto !important;
}
