/* You can add global styles to this file, and also import other style files */
@import './assets/scss/app.scss';

* {
    margin: 0px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}