@import '/src/assets/scss/mixins';
@import '/src/assets/scss/variables';

// Main toaster css

.toaster-container {

    width: 100%;
    height: max-content;
    position: absolute;
}

.toaster-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toaster {

    display: flex;
    flex-direction: row;
    width: 400px;
    z-index: 2;

    border: 1.5px solid $black;
    overflow: hidden;
    cursor: $hand-cursor;

    @include padding(1%, 1%, 1%, 1%);
    @include margin(1.5%, 0%, 1%, 0%);
    box-shadow: 2px 2px 0px 0px $black;

    transform: translateX(400px);
}

// Success message toaster
.success-toaster {

    &-circle {

        width: 15%;

        div {
            width: 50px;
            height: 50px;

            border-radius: 50px;
            @include padding(2%, 2%, 2%, 2%);

            border: 1px solid $black;

            // Image styling
            background: $thumbs-up;
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $success;
        }
    }

    &-message {

        width: 82%;
        @include margin(0px, 0px, 0px, 6px);

        // Title
        span {

            @include text-font(16px, 600, normal, black);
            @include margin(0px, 0px, 50px, 0px);
        }

        // Sub message
        p {

            @include text-font(14px, 400, normal, black);
            line-height: 2;
            word-break: break-all;
        }
    }

    animation: toaster 6s ease-in;
}

// Error message toaster
.error-toaster {

    &-circle {

        div {
            width: 50px;
            height: 50px;
            
            border-radius: 50px;
            @include padding(2%, 2%, 2%, 2%);
            border: 1px solid $black;

            // Image styling
            background: $alert-triangle;
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $error;

        }
    }

    &-message {

        width: 82%;
        @include margin(0px, 0px, 0px, 10px);

        // Title
        span {

            @include text-font(16px, 600, normal, black);
            @include margin(0px, 0px, 50px, 0px);
        }

        // Sub message
        p {

            @include text-font(14px, 400, normal, black);
            line-height: 2;
            word-break: break-all;
        }
    }

    animation: toaster 6s ease-in;
}

// Animation
@keyframes toaster {

    0% {
        transform: translateX(400px);
    }

    5% {
        transform: translateX(-100px);
    }

    95% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(400px);
    }
}