@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

// Main toaster css
.toaster {

    position: absolute;
    width: 350px;
    right: 0;
    z-index: 1;
    
    border: 1px solid $black;

    @include padding(1%,1%,1%,1%);
    box-shadow: 2px 2px 0px 0px $black;

    transform: translate(400px,20px);
}

// Success message toaster
.success-toaster {
    
    @include text-font(14px,600,normal,black);
    animation: toaster-from-right 6s linear;
    background-color: $success;
}

// Error message toaster
.error-toaster {

    @include text-font(14px,600,normal,white);
    background-color: $error;
}


// Animation
@keyframes toaster-from-right {

    0% {
        transform: translate(400px,20px);
    } 10% {
        transform: translate(-100px,20px);
    }

    95% {
        transform: translate(-100px,20px);
    }
    100% {
        transform: translate(400px,20px);
    }
}