@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

// Main toaster css
.toaster {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 400px;
    right: 0;
    z-index: 1;
    
    border: 1.5px solid $black;
    overflow: hidden;

    @include padding(1%,1%,1%,1%);
    box-shadow: 2px 2px 0px 0px $black;

    transform: translate(400px,20px);
}

// Success message toaster
.success-toaster {
    
    &-circle {

        width: 15%;
        
        div {
            width: 50px;
            height: 50px;

            border-radius: 50px;
            @include padding(2%,2%,2%,2%);
            
            border: 1px solid $black;

            // Image styling
            background: url('../../../assets/images/thumbs-up.svg');
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $success;
        }
    }
    
    &-message {
        
        width: 82%;

        // Title
        span {

            @include text-font(16px,600,normal,black);
            @include margin(0px,0px,50px,0px);
        }

        // Sub message
        p {

            @include text-font(14px,400,normal,black);
            line-height: 2;
            word-break: break-all;
        }
    }

    animation: toaster-from-right 6s ease-in;
}

// Error message toaster
.error-toaster {

    &-circle {
        
        div {
            width: 50px;
            height: 50px;

            border-radius: 50px;
            @include padding(2%,2%,2%,2%);
            
            border: 1px solid $black;

            // Image styling
            background: url('../../../assets/images/alert-triangle.svg');
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $error;

        }
    }
    
    &-message {
        
        width: 82%;

        // Title
        span {

            @include text-font(16px,600,normal,black);
            @include margin(0px,0px,50px,0px);
        }

        // Sub message
        p {

            @include text-font(14px,400,normal,black);
            line-height: 2;
            word-break: break-all;
        }
    }

    animation: toaster-from-right 6s ease-in;
}


// Animation
@keyframes toaster-from-right {

    0% {
        transform: translate(400px,20px);
    } 5% {
        transform: translate(-100px,20px);
    }

    95% {
        transform: translate(-100px,20px);
    }
    100% {
        transform: translate(400px,20px);
    }
}