<div class="registration-plans">
    <div class="registration-plans-container">
        <!-- Title -->
        <div class="registration-plans-app-name">CRAZE</div>
        <div class="registration-plans-title">
            Choose your preferable plans
        </div>
        <div class="registration-plans-sub-title">
            There different plan for users pick the right one for you 
        </div>

        <div class="registration-plans-list">
            <app-subscription-plan-card class="card" [subscriptionPlanAmount]="100" [contentProvidedInPlan]="registrationCard1"></app-subscription-plan-card>
            <app-subscription-plan-card class="card" [subscriptionPlanAmount]="500" [contentProvidedInPlan]="registrationCard1"></app-subscription-plan-card>
            <app-subscription-plan-card class="card" [subscriptionPlanAmount]="1000" [contentProvidedInPlan]="registrationCard1"></app-subscription-plan-card>
        </div>
    </div>
</div>
