<div class="forget-password">
    <div class="forget-password-form-container">

        <!-- Title -->
        <div class="forget-password-title">CRAZE</div>
        <div class="forget-password-form-title">
            Forget password
        </div>
        <div class="forget-password-form-sub-title">
            Enter your registered email below, you will receive an mail with a reset password link. After getting that
            link you will be able to reset your password.
        </div>

        <!-- Sign in form -->
        <div class="forget-password-form">
            <form [formGroup]="forgetPasswordForm">

                <!-- Email -->
                <div class="forget-password-form-email">
                    <label>Email
                        <span *ngIf="this.showValidationMessage">
                            <span *ngIf="email.hasError('required')">Email is required</span>
                            <span *ngIf="email.hasError('email') && email.touched">Please enter valid email</span>
                        </span>
                    </label>
                    <input type="email" formControlName="email" placeholder="Enter email" maxlength="35" />
                    <span class="input-bg"
                        [ngStyle]="{'background-image': 'url(../../../../../assets/images/mail.svg)'}"></span>
                </div>

                <!-- Sign in button -->
                <div class="forget-password-form-button" (click)="submitForgetPasswordForm()">
                    <button type="button">Send email</button>
                </div>
            </form>
        </div>

        <!-- Create account -->
        <p class="forget-password-go-to-sign-up">
            Already registered ?<span [routerLink]="'/seller/auth/sign-in'"> Sign in to your account</span>
        </p>
    </div>
</div>